#container {
width:600px;
height:800px;
margin:0 auto;
border:solid 1px blue;
background:url(../images/backgroup.gif) no-repeat;
padding-top:7px;
padding-left:6px;
}

table{
border-collapse:collapse;
width:525px;
height:525px;
}
